[user]
	name = AnimeshRy
	email = ani16september@gmail.com
[email]
	name = ani16september@gmail.com
[color]
	ui = auto
[alias]
	logb = log --all --graph --decorate;
	gc = checkout;
	gcm = checkout master;
	gpull = pull ;
	gf = fetch;
	gfa = fetch --all;
	gf = fetch origin;
	gpush = push ;
    gpushf = push -f ;
    gd = diff ;
    ga = add . ;
    glog = git log ;
    gb = branch ;
    	gbr = branch remote;
    	gfr = remote update;
    	gbn = checkout -B ;
    	grf = reflog;
    	grh = reset HEAD~; # last commit hard
    	gac = add . && commit -a -m ;
    	gsu = gpush --set-upstream origin ;
    	glog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches ;

[init]
	defaultBranch = main
[core]
	editor = nvim
